@import '../../../styles/variables.scss';
@import '../../../styles/title.scss';

.project-page{
    background-color: $project-bg;
    color: $dark-grey;
    padding-top: 30px;
    
    .project-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .spinner-layer{
        border-color: $main-color !important;
    }

    .more-button{
        background-color: $main-color !important;
        margin-top: 20px;
        color: $white !important;
    }

    .card {
        background-color: $contact-bg;
        border: 3px solid $white;

        .card-image {
            .card-title{
                color: $dark-grey;
                text-shadow: 1px 1px $light-grey;
            }

            img{
                width: 55%;
                margin: 0 auto;
                padding: 10px 0;
            }
        }
    }
}