@import '../../../styles/variables.scss';
@import '../../../styles/title.scss';

.project-page{
    background-color: #EFEFEF; //$light-grey;
    color: $dark-grey;
    padding-top: 30px;
    
    .project-content{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .spinner-layer{
        border-color: $main-color !important;
    }

    .more-button{
        background-color: $main-color !important;
        color: $white !important;
    }
}