<div class=" parallax-container">
    <div class="parallax">
        <img src="../assets/images/header-cover.jpeg" 
            i18n-title title="Header imagem"
            alt="São Francisco imagem" />
    </div>
    <div class="header-caption"></div>
    
    <div class="header-content">
        <div class="about-picture">
            <img class="responsive-img circle" src="../assets/images/doodle.jpg" 
                i18n-title title="Doodle imagem"
                alt="Avatar" />
        </div>
        <div class="header-profile">
            <h1 i18n="site header|An introduction header@@introductionHeader">Olá! Sou Thaysa Santos</h1>
            <h2>Front-end developer</h2>
            <p>Angular / SASS / JavaScript / HTML / Gulp</p>
        </div>

        <div class="view-more" (click)="goToAbout()">
            <p i18n="@@seeMoreBtn">Veja mais sobre o que eu faço</p>
            <i class="material-icons chevron-down">chevron_right</i>
        </div>
    </div> 
</div>
