<div class="header">
    <div class="header-caption"></div>
    
    <div class="header-content">
        <div class="about-picture">
            <img class="responsive-img circle" src="../assets/images/doodle.jpg" />
        </div>
        <div class="header-profile">
            <h3>Olá! Sou Thaysa Santos</h3>
            <h5>Front end developer</h5>
            <p>Angular / SASS / JavaScript / HTML / Gulp</p>
        </div>

        <div class="view-more">
            <p>Veja mais sobre o que eu faço</p>
            <i class="material-icons chevron-down">chevron_right</i>
        </div>
    </div> 
</div>
