.intro{
   // padding-left: .75rem;
}

.about-picture{
    float: right;
    height: 250px;
    width: 250px;

    img{
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}

.knowledge{
    margin-top: 20px;
    margin-bottom: 50px;

    .certificate-title{
        padding: 0;
    }
    .local{
        font-style: italic;
        color: $grey;
        padding: 0;
    }
}

@media only screen and (max-width: 768px){
    .about-picture{
        height: 150px;
        width: 150px;
    }
}