.contact{
    text-align: center;
    margin: 15px 0;

    .email a{
        font-weight: 700;
        font-size: 1.3rem;
    }

    .social{
        font-size: 1.5rem;
        margin: 25px 0;

        a{
            margin: 0 15px;

            &:hover{
                color: $red !important;
            }
        }
    }
}