<section class="contact-page" id="contact">
  <h4 class="center title">
    <span>Contate-me!</span>
  </h4>
  <div class="container contact-content">
      <div class="email center">
          <h5>Envie seu email para:</h5>
          <h6><a href="malito:thaysamarasantos@gmail.com">thaysamarasantos@gmail.com</a></h6>
      </div>
      <div class="social center">
          <a href="https://www.facebook.com/thaysamarasantos"
              target="_blank" alt="facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/thaysa-mara-monteiro-dos-santos-7741a299" 
              target="_blank" alt="linkedin"> 
              <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/thaymara" 
              targe="_blank" alt="github">
              <i class="fa fa-github" aria-hidden="true"></i>
          </a>
      </div>
  </div>
</section>
