.page-footer{
    background: $light-purple;
    
    .container{
        font-weight: 400;
    }

    .fa-heart{
        color: $red;
    }

    @media only screen and(max-width: 768px){
        .text-lighten-4{
            float: left !important;
        }
    }
}