.about {
  background-color: color(base-colors, _light-grey);

  .about__profile-img {
    height: 150px;
    margin-top: 30px;
    border: 10px solid color(base-colors, _primary);

    @include breakpoint(sm) {
      height: 215px;
    }
  }
}

.about__habilities-content {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
}

// Animations

.profile--out {
  opacity: 0;
  transform: translateY(-40%) rotate(0deg);
  transition: transform ease-in-out 1s, opacity ease-in-out 1s;
}

.profile--in {
  opacity: 1;
  transform: translateY(0) rotate(10deg);
  transition: transform ease-in-out 1s 500ms, opacity ease-in-out 1s 500ms;
}

.habilities--out {
  opacity: 0;
  transform: translateY(-40%);
  transition: transform 1s ease-in-out, opacity ease-in-out 1s;
}

.habilities--in {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease-in-out, opacity ease-in-out 1s 500ms;
}
