//sass-lint:disable no-important
.card {
  cursor: pointer;
  background-color: color(background-colors, _contact-bg);
  border: 3px solid color(base-colors, _white);

  .card-image {
    .card-title {
      color: color(base-colors, _dark-grey);
      text-shadow: 1px 1px color(base-colors, _light-grey);
    }

    img {
      width: 55%;
      padding: 10px 0;
      margin: 0 auto;
    }
  }

  .card-action {
    a {
      color: color(base-colors, _dark-grey) !important;
      transition: linear .7s !important;

      &:hover {
        color: color(base-colors, _dark-grey) !important;
        transition: linear .7s !important;
      }
    }
  }
}
