<div class="about" id="about" data-scrollspy-broadcast>
    <h1 class="title"><span>Hello!</span></h1>
    <div class="about-picture">
        <img src="dist/img/doodle.jpg" alt="profile"/>
    </div>
    <div class="intro">
        <p>I'm a system developer, website and web designer who loves books, technology and animals.</p>
        <p>I had worked as a web developer with site structuring and wordpress themes customization, for a brief period I worked with design of layouts and forms.</p>
        <p>For three months I worked with web systems development in C # .NET using Telerik platform and Microsoft SQL Server database.</p>
        <p>Today I'm back in web world as a front-end developer with focus on web development using HTML, CSS, JavaScript, jQuery, Bootstrap and Angular. I also had experience with hybrid mobile development using the IBM MobileFirst, HTML, CSS, SASS, JavaScript, AngularJs, Cordova and Ionic platform and Ionic 2 and Angular 2 platforms.</p>
    </div>

    <div class="knowledge" ng-controller="AboutController">
        <div class="row">
            <div class="col s12 m4 l3">
                <h4>Skills</h4>
            </div>
            <div class="col s12 m8 l8">
                <div class="row">
                    <div class="col" ng-repeat="skill in skillsList.data">
                        <p>{{ skill.language }}</p>
                        <input-stars 
                            icon-full="fa-circle" icon-empty="fa-circle-thin"
                            max="5" 
                            ng-model="skill.rate"
                            readonly>
                        </input-stars>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3">
                <h4>Methodologies</h4>
            </div>
            <div class="col s12 m8 l8">
                <div class="row">
                    <div class="col" ng-repeat="meth in methodologieList.data">
                        <p>{{ meth.name }}</p>
                        <input-stars 
                            icon-full="fa-circle" icon-empty="fa-circle-thin"
                            max="5" 
                            ng-model="meth.rate"
                            readonly>
                        </input-stars>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m4 l3">
                <h4>Certificates</h4>
            </div>
            <div class="col s12 m8 l8">
                <div class="row">
                    <div class="col" ng-repeat="certificate in certificationList.data">
                        <p class="certificate-title">{{ certificate.name }}</p>
                        <p class="local">{{ certificate.local }}</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>