<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Português</a></li>
  <li><a href="#!">English</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="fa fa-code" aria-hidden="true"></i>Thaysa Santos</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Projetos</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Português<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Projetos</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </nav>