<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="fa fa-code" aria-hidden="true"></i>Thaysa Santos</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">reorder</i></a>
      <ul class="right hide-on-med-and-down">
        <li data-scrollspy-listen="projects"><a ng-click="gotoSection('projects', 100)">Projects</a></li>
        <li data-scrollspy-listen="about"><a ng-click="gotoSection('about', 100)">About</a></li>
        <li data-scrollspy-listen="contact"><a ng-click="gotoSection('contact', 0)">Contact</a></li>
        <li><a ui-sref="app">Português?</a></li></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li data-scrollspy-listen="projects"><a ng-click="gotoSection('projects', 100)">Projects</a></li>
        <li data-scrollspy-listen="about"><a ng-click="gotoSection('about', 100)">About</a></li>
        <li data-scrollspy-listen="contact"><a ng-click="gotoSection('contact', 0)">Contact</a></li>
        <li><a ui-sref="app">Português?</a></li></li>
      </ul>
    </div>
  </nav>
</div>